body{
    background:rgb(93, 231, 162);
    font-family: Arial, Helvetica, sans-serif
}

.assignments
{
    display:flex;
    flex-wrap: wrap;
}

.assignment{
    width: 22%;
    padding: 20px 10px;
    margin: 10px;
    background: rgb(150, 143, 207);
    border-radius: 5px;
}
.assignment img{
    width: 200px;
    padding: 10px;
    border: 4px solid palevioletred;
    display: block;
    margin: auto;


}
h1 {
    color : rgb(197, 99, 236);
    text-align:center;
}
h2 {
    text-align:center;
}
